form input[type='number']{
}

#rollResult2 {
  display: none;
}

#rollButton2, #holdButton2 {
  display: none;
}

.jumbotron {
  background-color: white;
  text-align: center;
}

#midRow{
  text-align: center;
  background-color:;
}

#middleColumn h2 {
  text-align: center;
  font-size: 12em;
}

#midRow {
  display: none;
}

.form-group{
  display: block;
}
#optionalPlayer{
  display: none;
}
#playButton{
  display: none;
}
